DB_URL=jdbc:mysql://localhost:3306/ticket_booking
DB_USERNAME=root
DB_PASSWORD=your_database_password

MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_gmail_app_password

FRONTEND_URL=http://localhost:5173
BACKEND_URL=http://localhost:8080